<form class="flexcol {{cssClass}}" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
      <!-- systems/imperator/templates/actor-sheet.html -->
      <div class="actor-sheet">
        <h1>{{data.name}}</h1>
        <div class="sheet-body">
          <section class="biography">
            <h2>Biographie</h2>
            {{{systemData.biography}}}
          </section>
          <!-- Ici tu affiches les compétences, attributs, etc. -->
          <!-- … -->
        </div>
      </div>

    </header>

  </form>
  